@tailwind base;
@tailwind components;
@tailwind utilities;

[type='radio'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #d6d6d6;
}

[type='radio']:checked {
  box-shadow: 0 0 0 2px #fc5214;
  border: 3px solid #fff;
  background-color: #fc5214;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
